body{
  margin: 0;
  padding: 0;
  background-color: #1d2634;
  color: #9e9ea4;
  font-family: 'Montserrat', sans-serif;
}
.grid-container{
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas: 
  "sidebar header header header"
  "sidebar main main main";
  height: 100vh;
  flex: 1;
}
.icon {
  vertical-align: middle;
  line-height: 1px;
  font-size: 20px;
}
.header {
  grid-area: header;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -3px rgba(0,0, 0, 0.35);
}
.header.header-right svg{
  gap: 10px;
  margin: 0 7px;
}
#sidebar{
  grid-area: sidebar;
  height: 100%;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  background: #263043;
  flex: 1;
  position: fixed;
  width: 260px;
  
}

.sidebar-title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px ;
  margin-bottom: 30px;
}
.sidebar-brand{
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
  color: #a70f0f;
  flex-grow: 1;
  white-space: nowrap;
}
.sidebar-list {
  list-style: none;
  padding: 0;
  gap: 10px;
  
}
.sidebar-list-item{
  padding: 15px 20px;
  font-size: 18px;

}
.sidebar-list-item a{
  text-decoration: none;
  color: rgb(249, 249, 252);
  gap: 10px;
 
}
#sidebar .collapse{
  width: 50px;
}
.sidebar-list-item:hover {
  background-color: #55595e;
}
.main-container{
  grid-area: main;
  height: 100%;
}
.main-title{
  align-items: center;
  color: #0f0beefb;
  font-weight: 800;
  font-size: 24px;
}
.main-cards{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}
.card{
  flex: 1 1 200px;
  /* width: 300px; */
  border: 1px solid #5ef805;
  justify-content: space-between;
  display: flex;
  height: 200px;
  border-radius: 5px;
  padding: 8px 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
}
.card:hover{
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0,0 , 0.2);
  background: #435269;
}
.card-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.card:nth-child(1){
  color: #faf5f5c0;
  background-color: #c21a68;
}
.card:nth-child(2){
  color: #f9f8fd;
  background: #fc5203;
}
.card:nth-child(3){
  color: #f0f7f1;
  background: #254b88;
}
.card:nth-child(5){
color: #f7f1f1;
background: #eb2121;
}
.card:nth-child(6){
color: #fafaf8;
background-color: #15661caf;
}
.card:nth-child(4){
  color: #e9e8f0;
  background: #3cad46;
}
.chart-container{
  width: 100%;
  height: 300px;
}
.charts{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer{
  text-align: center;
color: #fcf8f8;
}
@media (max-width: 768px){
  #sidebar {
    width: 0;
    overflow: hidden;
    position: absolute;
  }
  .grid-container{
    grid-template-columns: 1fr;
    grid-template-areas: 
    'header'
    'main';
  }
}